body {
  font-family: 'Montserrat';
}

.title {
  background-color: #ff4c68;
}

.container-fluid {
  padding: 3% 15% 3%;
}

a {
  color: rgba(255, 255, 255, .5);
}

a:hover {
  color: rgb(250, 250, 250);
}

h1 {
  color: rgb(250, 250, 250);
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.3rem;
}

p {
  color: #8f8f8f;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
  font-weight: lighter;
}

/* download buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

button svg {
  padding-bottom: 6px;
}


/* Title Img */
.title-img {
  transform: rotate(25deg);
  /* Equal to rotateZ(45deg) */
  width: 60%;
  position: absolute;
  right: 30%;
}

/* Features */
.features {
  padding: 7% 15%;
  background-color: rgb(250, 250, 250);
  position: relative;
}

.features-box {
  text-align: center;
  padding: 2.8%;
}

.icon svg {
  text-align: center;
  margin-bottom: 1rem;
}

.svg-fill {
  fill: #ef8172;
}

.svg-fill:hover {
  fill: #ff4c68;
}

/* Testimonials */
.testimonials {
  text-align: center;
  background-color: #ef8172;
  color: rgb(250, 250, 250);
}

.testimonials-img {
  width: 25%;
  border-radius: 50%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */
.press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 0 20px 50px;
}

/* Princing */
.pricing {
  padding: 50px 3%;
}

.card {
  margin: 3% 2%;
  text-align: center;
  border-color: hsla(7, 78%, 68%, 0.25);
}

.card:hover {
  border-color: hsl(7, 78%, 68%);
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
  color: #ff4c68;
}

div .card-header {
  background-color: hsla(7, 78%, 68%, 0.05);
}

.card-deck .card {
  min-width: 220px;
}

h2.card-title {
  color: #f9798c;
}

.card-header h3 {
  font-family: 'Ubuntu';
  font-size: 1.5rem;
  font-weight: bold;
  color: hsla(7, 78%, 68%, 0.5);
}

.pricing .btn-secondary {
  background-color: #f9798c !important;
  border-color: #f9798c !important;
}

.pricing .btn-secondary:hover {
  background-color: #ff4c68 !important;
  border-color: #ff4c68 !important;
}

.pricing .btn-outline-secondary {
  color: #f9798c !important;
  border-color: #f9798c !important;
}

.pricing .btn-outline-secondary:hover {
  background-color: #ff4c68 !important;
  border-color: #ff4c68 !important;
  color: rgb(250, 250, 250) !important;
}

/* CTA section */
.cta {
  background-color: #ff4c68;
  color: rgb(250, 250, 250);
  padding: 7% 15%;
  text-align: center;
}

.cta-head {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer */
.footer {
  padding: 7% 15%;
  text-align: center;
}

.social-ico svg {
  margin: 20px 10px;
}

.social-svg {
  fill: hsla(7, 78%, 68%, 0.5);
}

.social-svg:hover {
  fill: #ff4c68;
}

/* Media Queries */
@media (max-width: 1200px) {
  .title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
